*.out
*.exe
*.class
*.fdb
*.apk

_generated/
obj/
.gradle/
.idea/
.vscode

native/libs
java/app/src/main/libs/
java/app/build
java/app/.cxx
/.project

local.properties
java.iml
scripts/__pycache__
java/app/app.iml
